.header {
  overflow: hidden;
  background : black;
  position: fixed;
  top:0;
  
}
.header a{
  float: right;
  display : block;
 font-family:calibri;
 padding:14px 23px;
 text-decoration: none;
 
}
 .header a:hover {
    background :#48D1CC;
    transition: all .4s ease;
    
}

.main{
margin-top:80px;
height:700px;
background-size: cover;
}

.box{
position:relative;
}
.heading{
position: absolute;
color: white;
top:650px;
width:500px;
font-size:3px;
text-align:center;
}
 
@media screen and (max-width:600px)
{
  .header {
    width:100%;
    height:50px;
    overflow: hidden;
    background : black;
    position: fixed;
    top:auto;
    bottom:0;
  
    
  }
}
